body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", "sans-serif";
  background-color: #7683e5;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50px;
background: #7683e5;
box-shadow:  -40px 40px 80px #4a5390,
             40px -40px 80px #a2b3ff;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    margin-top: 5px;
}

button {
    background-color: #2b2d2e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.9 ease;
    width: 50%;
}

button:hover {
    background-color: #0062cc;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}